<main>
  <section class="login">
    <div class="box apollus">
      <div class="logo">
        Apollus <span>CRUD</span> <em>developed by Yuri Brunetto</em>
      </div>
    </div>
    <div class="box">
      <h2 class="common-title">Login</h2>
      <div class="common-text">
        <p>Fill the fields below to log in</p>
      </div>

      <form>
        <div class="form-group">
          <input type="text" placeholder="E-mail" />
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" />
        </div>
        <div class="form-group buttons">
          <a href="#" title="Register">Register</a>
          <button class="btn">Log in</button>
        </div>
      </form>
    </div>
  </section>
</main>
