// variables
:root {
  // colors
  --bg-color: #3e3e3e;
  --main-color: #ff5231;
  --sec-color: #ff9740;
  --dark-color: #252525;
  --text-color: rgba(255, 255, 255, 0.7);
  --text-placeholder: #666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--bg-color);
}

body,
input,
button,
textarea {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  outline: 0;
  border: 0;
}
